extends layout

block content
    p <회사 검색>
        input(id="companySearch", type="text", onkeyup="searchCompany()", placeholder="회사 이름으로 검색하세요.")
    ul(id="searchResult")
        each Company in Companies
            li(hidden)
                p #{Company.name}
                button(type="button", onclick="getProfiles(this)") 프로필 보기
                p(id="dataCompanyId", hidden) #{Company.id}

    script.
        // company search
        const companyElements = document.getElementById('searchResult').childNodes;
        function searchCompany() {
            const word = document.getElementById('companySearch').value;
            companyElements.forEach(companyElement => {
                companyElement.hidden = true;
                if (companyElement.childNodes[0].innerText.includes(word)) {
                    companyElement.hidden = false;
                }
            });
        }

        function getProfiles(that) {
            location.href = '/company/detail?companyId=' + that.nextSibling.innerText;
        }