extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/auth/login', accept-charset='utf-8', method='post')
    p 아이디:
    input(name='id', type='text')
    br
    p 비밀번호:
    input(name='pw', type='password')
    br
    button(type='submit') 로그인
