extends layout

block content
    p 프로필을 삭제하시겠습니까?
    button(type="button", onclick="deleteProfile()") 삭제
    button(type="button", onclick="window.history.back()") 취소

    p(id="dataProfileId", hidden) #{profileId}

    script.
        function deleteProfile() {
            location.href = '/profile/delete?confirm=true&profileId=' + document.getElementById('dataProfileId').innerText;
        }
