extends layout



block content

    p <프로필 등록>
    form(action="/profile/register", accept-charset="utf-8", method="post")
        p 회사 이름:
        input(id="companyName", name="companyName", type="text", placeholder="검색하여 선택해주세요.")
        ul(id="searchResult", name="searchResult")
            each company in companies
                li(hidden, onclick="setCompanyCode(this)") #{company.name}
                    p(id="dataCompanyId", name="dataCompanyId", hidden) #{company.id}
        br
        p 회사 ID:
        input(id="companyId", name="companyId", type="text", placeholder="자동으로 입력됩니다.", readonly, required)
        br
        p 직급:
        input(id="position", name="position", type="text", placeholder="오른쪽에서 선택해주세요.", readonly, required)
        select(id="positionSelect", onchange="setPosition()")
            option(hidden, selected, id="selectedPosition")
            option(value="인턴") 인턴
            option(value="사원") 사원
            option(value="주임") 주임
            option(value="대리") 대리
            option(value="과장") 과장
            option(value="차장") 차장
            option(value="부장") 부장
            option(value="이사") 이사
            option(value="상무") 상무
            option(value="전무") 전무
            option(value="부사장") 부사장
            option(value="사장") 사장
            option(value="기타") 기타
        br
        p 부서:
        input(id="department", name="department", type="text", required)
        br
        p 입사일:
        input(id="startDate", name="startDate", type="date", required)
        br
        p 퇴사일(재직중일시 비워주세요):
        input(id="endDate", name="endDate", type="date")
        br
        button(type="submit") 등록
    button(onclick="window.history.back()") 취소

    script.
        // company search
        const companyElements = document.getElementById('searchResult').childNodes;
        function searchCompany() {
            const word = document.getElementById('companyName').value;
            companyElements.forEach(companyElement => {
                companyElement.hidden = true;
                if (companyElement.innerText.includes(word)) {
                    companyElement.hidden = false;
                }
            });
        }
        document.getElementById('companyName').addEventListener('keyup', searchCompany);

        // get and set company code
        function setCompanyCode(that) {
            document.getElementById('companyName').value = that.innerText;
            document.getElementById('companyId').value = that.childNodes[1].innerText;
        }
        
        function setPosition() {
            document.getElementById('position').value = document.getElementById('positionSelect').value;
        }